<a href="https://colab.research.google.com/github/Moutata6/DS1002-Moutata6/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [7]:
# code here
var = 0
while var <= 20:
  if (var % 2 == 0):
    print(str(var) + " is even")
    var = var + 1
  else:
    var = var + 1

0 is even
2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even

## For-Loops with Lists

In [8]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [9]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for pos in mylist:
  if pos >= 0:
    print(pos)

9
15
23
4
92
47
33
17
18
38

In [10]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for pos in mylist:
  if pos >= 0:
    print(pos)
  else:
    print(abs(pos))

9
15
23
4
92
47
33
17
4
18
38
242

In [11]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for pos in mylist:
  if pos > 20 and pos < 40:
    print(pos)

23
33
38

## For-Loops with Dictionaries

In [12]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [21]:
# Write a command to print out all the keys of this dic
print(capitals.keys())

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [22]:
# Write a command to print out all the values of this dict
print(capitals.values())

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [23]:
# Write a command to print all the keys and values for this dict
print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [46]:
# Write a command to print only the first three values and NOTHING more.
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}
capitals.values()
capita = ['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia']
for p in capita:
  if p == 'Bangkok':
    break
  else:
    print(p)

Washington DC
Rome
London